.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
#userInput {
  padding: 10px;
}

#userInput {
  width: 80%;
  margin: 0 auto;
  background-color: beige;
}
